* {
    padding: 0;
    margin: 0;
}

/* Header./Start */
.wrap-header {
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap-header .logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}

.wrap-header ul {
    display: flex;
}
.wrap-header ul li {
    margin: 0 30px;
    list-style: none;
}

.wrap-header ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

/* Slider./Start */
.wrap-banner img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

/* Listing Product */
.wrap-listing .title {
    text-align: center;
    margin: 50px 0;
}

.wrap-listing .card {
    padding: 10px;
    margin-bottom: 30px;
}
.wrap-listing .card img {
    width: 100%;
    height: 240px;
    object-fit: contain;
}